#Python:
.py[cod]
*.pyc
*.so
*.egg
*.egg-info
*.pth
*.h5
*.pbtxt
*.hdf5
*.weights
*.trainedata
*.xlsx
dist*
build
.DS_Store*
.ipynb_checkpoints
__pycahe__
dump.rdb
define
.idea
__pycache__/*
*.bert_model.*
dataset/test.json
dataset/train.json
app/
models/

